body {
    width: 100%;
    min-height: 100vh;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: 110px 1fr 100px;
}

main {
    display: flex;
    flex-direction: column;
    padding: 5vh;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5vh;
    place-items: center;
}

.card-character {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    width: 230px;
    height: 350px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: 'Itim';
    cursor: url(../img/raio.png), auto;
}

.card-text {
    display: none;
    color: #fff;
}

.card-character:hover {
    box-shadow: inset 5px 5px 200px black;
}

.card-character:hover .card-text {
    display: block;
}

@media (max-width: 999px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 4vh;
    }

    .card-character {
        width: 50%;
        height: 500px;
        align-items: flex-end;
    }
    .card-text{
        display: block;
        color: #e6e6e6;
    }

}

/* @media (max-width: 600px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 4vh;
    }
    .card-character {
        width: 2000px;
        height: 300px;
    }
} */