body {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%), #005139;
}
.content-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 1rem;
    gap: 20px;
}
.voltar a{
    width: auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 2rem;
}

.voltar p{
    cursor: url(../img/raio.png), auto;
}
.voltar i{
    cursor: url(../img/raio.png), auto;
}

@media (max-width: 999px) {
    .voltar a{
        font-size: 3rem;
    }
}