body {
    width: 100%;
    min-height: 100vh;
    background-image: url(../img/thumb-1920-1102284\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: 110px 1fr 50px;

}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.explore_world {
    display: grid;
    place-items: center;
}

.container_houses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    padding: 0 10vh;
}

@media (max-width: 999px) {
    .explore_img {
        width: 90%;
        height: 90%;
    }
    .container_houses {
        padding: 0 5vh;
    }
}

@media (max-width: 600px) {
    .explore_world {
        padding-top: 6vh;
    }
    .container_houses {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 4vh;
        padding: 0 2vh;
    }
}