body {
    width: 100%;
    min-height: 100vh;
    background-image: url(../img/bodyDark.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: 110px 1fr 100px;

}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.explore_world {
    display: grid;
    place-items: center;
}

.container_houses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    padding: 0 10vh;
}

footer-hogwarts {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 999px) {
    .explore_img {
        width: 90%;
        height: 90%;
    }

    .container_houses {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        grid-gap: 2vh;
        padding: 0 2vh;
        place-content: center;
    }
}

@media (max-width: 600px) {
    .explore_world {
        padding-top: 6vh;
    }
}