/* .ex {
    display: grid;
    place-items: center;
    padding-top: 5vw;
} */

body {
    width: 100%;
    min-height: 100vh;
    background-image: url(../img/body.svg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* .container-header {
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.search_login {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 3vh;
}

.search {
    background: #1C252E;
    border-radius: 50px;
    padding: 12.5px;
}

.search_button {
    color: #FDBF11;
    float: right;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #1C252E;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

.search:hover .search_text {
    width: 200px;
    padding: 0 7.5px;
}

.search_text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #f1f1f1;
    font-size: 20px;
    transition: 0.4s;
    width: 0;
}


.button_login {
    width: 120px;
    height: 40px;
    font-size: 1.5rem;
    background-color: #FDBF11;
    border-radius: 10px;
    border: 0;
    color: #fff;
    font-family: 'Itim';
    cursor: pointer;
}

@media (max-width: 999px) {
    .container-header{
        display: flex;
        justify-content: space-between;
    }
    .logo_img {
        width: 90%;
        height: 80%;
    }

    .button_login {
        width: 80px;
        font-size: 1rem;
    }
    .search_box {
        display: none;
    }
} */

@media (max-width: 600px) {
    
}